Repository nizovtsevnv/supabase-lib-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

rust-fmt:
  name: Rust Format Check
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with rustfmt

rust-clippy:
  name: Rust Clippy Linting
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Lint Rust code with clippy (no warnings allowed)

rust-test:
  name: Rust Tests
  entry: cargo test --all-features
  language: system
  pass_filenames: false
  description: Run all Rust tests

rust-build:
  name: Rust Build Check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false
  description: Check that Rust code compiles

cargo-audit:
  name: Cargo Security Audit
  entry: cargo audit
  language: system
  pass_filenames: false
  description: Check for security vulnerabilities in dependencies

docs: add MIT LICENSE and badges for CI, crates.io, docs.rs, license
  LICENSE
  README.md
Due: none

refactor: rename library crate to supabase and update imports
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  examples/auth_example.rs
  examples/basic_usage.rs
  examples/database_example.rs
  examples/realtime_example.rs
  examples/storage_example.rs
  flake.nix
  src/client.rs
  src/lib.rs
  tests/integration/auth_tests.rs
  tests/integration/client_tests.rs
  tests/integration/common/mod.rs
  tests/integration/database_tests.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

chore: enrich crate metadata for crates.io (readme, homepage, docs)
  Cargo.toml
Due: rust-test, rust-build, cargo-audit

ci: split musl build into its own workflow and fix badges; docs.rs metadata added
  .github/workflows/build.yml
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Due: rust-test, rust-build, cargo-audit

nix: do not overwrite existing .env in dev shell; only create if missing
  flake.nix
Due: none

nix: derive pname/version/meta from Cargo.toml; stop hardcoding and remove invalid default app
  flake.nix
Due: none

fix: auth grant_type in query; storage endpoints and responses aligned with Supabase API (upload path, list prefix, admin auth, signedUrls parsing)
  src/auth.rs
  src/client.rs
  src/storage.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

tests: add e2e preflight/auth/storage/realtime/database integration tests (skippable via env)
  tests/integration/e2e_auth.rs
  tests/integration/e2e_database.rs
  tests/integration/e2e_preflight.rs
  tests/integration/e2e_realtime.rs
  tests/integration/e2e_storage.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

feat: add e2e integration tests and align auth/storage; nix/docs improvements
  .env.example
  .gitignore
  Cargo.toml
  README.md
  examples/storage_admin_example.rs
  flake.nix
  src/auth.rs
  src/client.rs
  src/database.rs
  src/types.rs
  tests/integration/e2e_auth.rs
  tests/integration/e2e_database.rs
  tests/integration/e2e_preflight.rs
  tests/integration/e2e_realtime.rs
  tests/integration/e2e_storage.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

🚀 Release v0.2.0: Production-ready Supabase Rust client
  CONTRIBUTING.md
  Cargo.toml
  README.md
  TESTING.md
  docker-compose.yml
  docs/WASM_GUIDE.md
  examples/basic_usage.rs
  examples/database_example.rs
  examples/dioxus_example.rs
  examples/functions_example.rs
  examples/realtime_example.rs
  examples/storage_example.rs
  examples/wasm_example.rs
  flake.nix
  justfile
  src/async_runtime.rs
  src/client.rs
  src/error.rs
  src/functions.rs
  src/lib.rs
  src/realtime.rs
  src/realtime/mod.rs
  src/storage.rs
  src/types.rs
  src/websocket.rs
  tests/integration/common/mod.rs
  tests/integration_tests.rs
  volumes/api/kong.yml
  volumes/db/roles.sql
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

fix: adjust keywords and categories for crates.io compatibility
  Cargo.toml
Due: rust-test, rust-build, cargo-audit

fix: disable doctests for private modules async_runtime and websocket
  src/async_runtime.rs
  src/websocket.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

ci: run build workflow only on releases
  .github/workflows/build.yml
Due: none

docs: add comprehensive roadmap and fix CI doctests
  ROADMAP.md
Due: none

fix: remove tag triggers from build workflow and ensure doctest fixes
  .github/workflows/build.yml
  src/async_runtime.rs
  src/websocket.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

🎉 Release v0.3.0: Database Advanced Operations + Clean ROADMAP
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  examples/c_usage/Makefile
  examples/c_usage/main.c
  include/supabase.h
  src/database.rs
  src/ffi.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

🚀 Release v0.3.1: Complete Authentication Enhancement + Advanced Error Handling
  CHANGELOG.md
  Cargo.toml
  ROADMAP.md
  examples/auth_example.rs
  examples/basic_usage.rs
  examples/database_example.rs
  examples/realtime_example.rs
  examples/storage_admin_example.rs
  examples/storage_example.rs
  src/auth.rs
  src/error.rs
  src/functions.rs
  src/lib.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

🚀 Release v0.3.2: Advanced Authentication & Token Management
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  examples/auth_example.rs
  src/auth.rs
  src/error.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

feat: release v0.4.0 with session management
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  examples/session_management_example.rs
  src/error.rs
  src/lib.rs
  src/session/encryption.rs
  src/session/mod.rs
  src/session/native.rs
  src/session/storage.rs
  src/session/wasm.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

Release v0.4.1: Storage & Realtime Enhancements
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  examples/storage_advanced_example.rs
  examples/storage_example.rs
  src/realtime/mod.rs
  src/storage.rs
  tests/integration/realtime_advanced_tests.rs
  tests/integration/storage_advanced_tests.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

Add cargo-sweep integration for target directory management
  justfile
Due: none

Release v0.4.2: Edge Functions & Performance Optimization
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  examples/functions_performance_example.rs
  src/functions.rs
  src/lib.rs
  src/performance.rs
  tests/integration/functions_advanced_tests.rs
  tests/integration/performance_tests.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

Release v0.5.0: Enhanced FFI + Conservative Roadmap
  .github/workflows/python-wheels.yml
  CHANGELOG.md
  Cargo.toml
  ROADMAP.md
  examples/c_usage/main.c
  include/supabase.h
  pyproject.toml
  python/README.md
  python/examples/basic_usage.py
  python/examples/database_queries.py
  python/tests/test_client.py
  src/ffi.rs
  src/lib.rs
  src/python.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

Release v0.5.1: Quality & Stability Focus
  CHANGELOG.md
  Cargo.toml
  README.md
  ROADMAP.md
  pyproject.toml
  src/lib.rs
  src/python.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

feat: Complete v0.5.1 release infrastructure and documentation
  .github/workflows/manual-publish-pypi.yml
  .github/workflows/manual-publish.yml
  .github/workflows/python-wheels.yml
  .github/workflows/release.yml
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIGURATION.md
  docs/EXAMPLES.md
Due: none

docs: Fix documentation audience and update roadmap principles
  CONTRIBUTING.md
  README.md
  ROADMAP.md
Due: none

Fix missing session after sign_up_with_email_and_password()
  src/auth.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

Fix missing session for few more methods
  src/auth.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

Add authentication token to storage API calls
  examples/storage_admin_example.rs
  examples/storage_example.rs
  src/ffi.rs
  src/storage.rs
  tests/integration_tests.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

Remove unnecessary checks
  src/auth.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

Add authentication to storage download()
  examples/storage_example.rs
  src/storage.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

chore: release v0.5.2 - security fixes and WASM improvements
  .github/workflows/python-wheels.yml
  CONTRIBUTING.md
  Cargo.toml
  ROADMAP.md
  deny.toml
  docs/CONFIGURATION.md
  pyproject.toml
  src/error.rs
  src/functions.rs
  src/performance.rs
  src/python.rs
  src/session/encryption.rs
  src/session/mod.rs
  src/session/storage.rs
  src/session/wasm.rs
  src/storage.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

fix: add #[allow(dead_code)] to Todo struct in wasm_example
  examples/wasm_example.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

fix: add #[allow(dead_code)] to Todo struct in dioxus_example
  examples/dioxus_example.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

fix: add #[allow(dead_code)] to FunctionResult in functions_performance_example
  examples/functions_performance_example.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build

feat: authenticated storage with RLS support + version 0.5.3
  .github/workflows/python-wheels.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  ROADMAP.md
  docs/CONFIGURATION.md
  docs/EXAMPLES.md
  examples/storage_auth_example.rs
  pyproject.toml
  src/python.rs
  src/storage.rs
Due: rust-fmt, rust-clippy, rust-test, rust-build, cargo-audit

feat: add GitHub CLI (gh) to Nix development environment
  flake.nix
Due: none

fix: GitHub Actions workflows compatibility
  .github/workflows/python-wheels.yml
  .github/workflows/release.yml
Due: none

fix: Python wheels - skip patchelf on Windows
  .github/workflows/python-wheels.yml
Due: none

Path conditions:
  rust-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  \.git/.*|
  \.nix-.*|
  result.*
)$

  rust-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  \.git/.*|
  \.nix-.*|
  result.*
)$

  rust-test: any of: \.(rs|toml)$, but not: (?x)^(
  target/.*|
  \.git/.*|
  \.nix-.*|
  result.*
)$

  rust-build: any of: \.(rs|toml)$, but not: (?x)^(
  target/.*|
  \.git/.*|
  \.nix-.*|
  result.*
)$

  cargo-audit: any of: Cargo\.(toml|lock)$, but not: (?x)^(
  target/.*|
  \.git/.*|
  \.nix-.*|
  result.*
)$

